.grid{
    padding-top: 50px !important;
}

.card{
    height: 100%;
    min-height: 100%
}

#root{
    background-color: #DEE5E5;
}

.fixHeight {
    position: fixed;
    margin: 0 !important;
    z-index:15
}

.whitespace {
    z-index: 11;
    height: 100%;
    margin-top: 3px !important;
}

.ticker{
    position: fixed !important;
    width:98%;
    bottom: 0px;
    background-color: #555;
}

.cardheader{
    border-bottom: 2px solid lightgrey !important;
    box-sizing: border-box;
}

.increase{
    background-color:green
}

.decrease{
    background-color:red
}
.dropdown {
    text-align: center !important
}

.dropdown:nth-child(2) {
    color: #1f77b4 !important
}


